@import url('https://www.dafontfree.io/impact-font/?family=Impact');
@import url('https://fonnts.com/kefa/?family=Kefa');

@font-face {
    font-family: Capitol;
    src: url('../Fonts/CapitolCitySemiStraight-9M5Gj.otf') format('opentype');
}



/* setup */
body {
    font-family: 'Impact', 'Kefa', 'Capitol' sans-serif;
    color: #E5E5E5;
    background-color: black;
}

h1,
h2,
h3 {
    font-family: 'Impact', sans-serif;
}

p {
    font-family: 'Kefa', sans-serif;
}

div {
    background-color: #14213D;
}

d {
    font-family: 'Capitol', sans-serif;
}





/* top navigator bar */
.topNav {
    position: fixed;
    overflow: hidden;
    background-color: #E5E5E5;
    top: 0;
    left: 0;
    width: 99%;
    padding: 10px 10px;
    text-align: left;
    background: #14213D;
    color: #E5E5E5;
}

.topNav a {
    font-family: 'Kefa', sans-serif;
    color: #E5E5E5;
    float: left;
    text-align: center;
    padding: 4px 20px;
    text-decoration: none;
    font-size: 20px;
    line-height: 25px;
    border-radius: 4px;
}

.topNav a.SpeakISO {
    font-family: 'Capitol', sans-serif;
    font-size: 30px;
    font-weight: bold;
}

.topNav a:hover {
    background-color: #393F94;
}

.topNav a.active {
    background-color: #393F94;
}

.topNav-right {
    float: right;
}




/* blurred bg image 1 */
.container img {
    filter: blur(2px);
    overflow: hidden;
}

.container {
    margin-top: 85px;
    margin-bottom: 35px;
    border-radius: 25px;
    perspective: 1px;
    overflow: hidden;
    position: relative;
    text-align: center;
    color: #E5E5E5;
}

.centered1 {
    font-family: 'Impact', sans-serif;
    font-size: 70px;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    letter-spacing: 8px;
}

.centered2 {
    font-family: 'Kefa', sans-serif;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}




/*. PRODUCT menu container  */
.menuProduct {
    color: #14213D;
    background-color: #E5E5E5;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

/* left col */
.pSide {
    color: #14213D;
    flex-direction: column;
    flex: 1;
    background-color: #E5E5E5;
    padding: 20px;
    margin: 30px;
}

.menuProduct .p {
    margin-bottom: 10px;
    font-size: 30px;
    color: #14213D;
}

.menuProduct .a {
    color: #14213D;
}

/* right col */
.menuProduct .pFakeimg {
    flex: 1;
    background-color: #aaa;
    margin: 30px;
}

.menuProduct .pFakeimg img {
    max-width: 100%;
    max-width: 100%;
    object-fit: fill;
    display: block;
}



/*. PRICING menu container  */
.menuPricing {
    margin-top: 30px;
    color: #14213D;
    background-color: #E5E5E5;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

/* right col */
.menuPricing .prFakeimg {
    flex: 1;
    background-color: #aaa;
    margin: 30px;
}

.menuPricing .prFakeimg img {
    max-width: 100%;
    max-width: 100%;
    object-fit: fill;
    display: block;
}

/* left col */
.prSide {
    color: #14213D;
    flex-direction: column;
    flex: 1;
    background-color: #E5E5E5;
    padding: 20px;
    margin: 30px;
}

.menuPricing .p {
    float: right;
    margin-bottom: 10px;
    font-size: 30px;
    color: #14213D;
}

.menuPricing .a {
    float: right;
    color: #14213D;
}




/*. TEAM menu container  */
.menuTeam {
    margin-bottom: 80px;
    margin-top: 30px;
    color: #14213D;
    background-color: #E5E5E5;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

/* left col */
.tSide {
    color: #14213D;
    flex-direction: column;
    flex: 1;
    background-color: #E5E5E5;
    padding: 20px;
    margin: 30px;
}

.menuTeam .p {
    margin-bottom: 10px;
    font-size: 30px;
    color: #14213D;
}

.menuTeam .a {
    color: #14213D;
}

/* right col */
.menuTeam .tFakeimg {
    flex: 1;
    background-color: #aaa;
    margin: 30px;
}

.menuTeam .tFakeimg img {
    max-width: 100%;
    max-width: 100%;
    object-fit: fill;
    display: block;
}



/* javascript animation for fading*/
.fade-in {
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.fade-in.visible {
    opacity: 1;
}




/* bottom navigator bar */
.botNav {
    overflow: hidden;
    background-color: #E5E5E5;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    background: #14213D;
    color: #E5E5E5;
}

.botNav-left {
    font-size: 10px;
    border-radius: 4px;
    padding: 4px 4px;
    text-decoration: none;
    font-size: 10px;
    line-height: 10px;
    border-radius: 4px;
}

.botNav-right {
    padding: 5px;
    gap: 20px;
    float: right;
    display: flex;
    align-items: center;
}

.botNav-right .ig,
.botNav-right .fb,
.botNav-right .twt {
    display: flex;
    width: 32px;
    height: 32px;
    background-color: transparent;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.botNav-right .ig img,
.botNav-right .fb img,
.botNav-right .twt img {
    max-width: 100%;
    max-width: 100%;
    object-fit: cover;
    display: block;
}